.pricing {
  color: var(--main-color);
  font-family: var(--main-font);
  padding-bottom: 25px;
}

.pricing .banner h6 {
  font-size: 17px;
  font-weight: bold;
}

/*********form*************/

.form-pricing {
  background: #ffffff !important;
  margin-top: 25px;
  padding: 20px 15px !important;
  border-radius: 12px;
}

form .form-section .form-label {
  font-weight: bold;
  font-size: 14px !important;
}

form .form-section .form-control {
  border: 2px solid var(--bg-main);
  background: var(--bg-main) !important;
  padding: 12px 15px;
  border-radius: 12px;
}

form .form-section .form-control:focus,
form .form-section .form-select:focus {
  border-color: var(--main-color);
  box-shadow: none;
  outline: none;
}

form .form-section .form-control::placeholder {
  color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}

form .btn-save {
  width: 28%;
  background: var(--main-color);
  color: var(--bg-main);
  font-size: 25px;
  padding: 0;
  font-weight: bold;
  border-radius: 8px;
}

/**************************stats-card****************************/

.stats-card {
  background: var(--third-color);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 100%;
}

.icon-box {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.title {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
}

.value {
  color: var(--second-color);
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}

@media (max-width: 992px) {
  form .btn-save {
    width: 80%;
  }
}
