<div class="pricing">
  <div class="container-fluid">
    <div class="row">
      <div class="banner col-12 p-0">
        <h6>محرر التسعير</h6>
        <h6>إدارة الأسعار ومناطق التسعير</h6>
      </div>
    </div>

    <div class="row form-pricing">
      <!-- SVG Icons -->
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
      </svg>

      <!-- Success and Error Messages -->
      @if (successMessage) {
      <div class="alert alert-success d-flex align-items-center mt-4" role="alert">
        <svg class="bi flex-shrink-0 me-2 ms-3" width="24" height="24" role="img" aria-label="Success:">
          <use xlink:href="#check-circle-fill" />
        </svg>
        <div>{{ successMessage }}</div>
      </div>
      }
      @if (errorMessage) {
      <div class="alert alert-danger d-flex align-items-center mt-4" role="alert">
        <svg class="bi flex-shrink-0 me-2 ms-3" width="24" height="24" role="img" aria-label="Danger:">
          <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        <div>{{ errorMessage }}</div>
      </div>
      }

      @if (loading) {
      <div class="text-center mb-4">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">جاري التحميل...</span>
        </div>
      </div>
      }

      <form #form="ngForm" (ngSubmit)="handleSubmit()" class="mt-1 needs-validation" novalidate>
        <div class="row">
          <div class="col-md-4 form-section mb-3">
            <label for="carNormalPricePerKm" class="form-label">سعر السيارة الأساسي لكل (كيلو متر)</label>
            <input type="number" id="carNormalPricePerKm" class="form-control" name="carNormalPricePerKm" required
              [(ngModel)]="pricing.carNormalPricePerKm" #carNormalPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر اساسي صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="carPeakPricePerKm" class="form-label">سعر السيارة وقت الذروة لكل (كيلو متر)</label>
            <input type="number" id="carPeakPricePerKm" class="form-control" name="carPeakPricePerKm" required
              [(ngModel)]="pricing.carPeakPricePerKm" #carPeakPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="carMinimumFare" class="form-label"> الحد الادني لسعر السيارة</label>
            <input type="number" id="carMinimumFare" class="form-control" name="carMinimumFare" required
              [(ngModel)]="pricing.carMinimumFare" #carMinimumFare="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="motorcycleNormalPricePerKm" class="form-label">سعر الموتسكيل الأساسي لكل (كيلو متر)</label>
            <input type="number" id="motorcycleNormalPricePerKm" class="form-control" name="motorcycleNormalPricePerKm"
              required [(ngModel)]="pricing.motorcycleNormalPricePerKm" #motorcycleNormalPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر اساسي صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="motorcyclePeakPricePerKm" class="form-label">سعر الموتسكيل وقت الذروة لكل (كيلو متر)</label>
            <input type="number" id="motorcyclePeakPricePerKm" class="form-control" name="motorcyclePeakPricePerKm"
              required [(ngModel)]="pricing.motorcyclePeakPricePerKm" #motorcyclePeakPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="motorcycleMinimumFare" class="form-label"> الحد الادني لسعر الموتسكيل</label>
            <input type="number" id="motorcycleMinimumFare" class="form-control" name="motorcycleMinimumFare" required
              [(ngModel)]="pricing.motorcycleMinimumFare" #motorcycleMinimumFare="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="deliveryNormalPricePerKm" class="form-label">سعر الدليفري الأساسي لكل (كيلو متر)</label>
            <input type="number" id="deliveryNormalPricePerKm" class="form-control" name="deliveryNormalPricePerKm"
              required [(ngModel)]="pricing.deliveryNormalPricePerKm" #deliveryNormalPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر اساسي صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="deliveryPeakPricePerKm" class="form-label">سعر الدليفري وقت الذروة لكل (كيلو متر)</label>
            <input type="number" id="deliveryPeakPricePerKm" class="form-control" name="deliveryPeakPricePerKm" required
              [(ngModel)]="pricing.deliveryPeakPricePerKm" #deliveryPeakPricePerKm="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="deliveryMinimumFare" class="form-label"> الحد الادني لسعر الدليفري</label>
            <input type="number" id="deliveryMinimumFare" class="form-control" name="deliveryMinimumFare" required
              [(ngModel)]="pricing.deliveryMinimumFare" #deliveryMinimumFare="ngModel">
            <div class="invalid-feedback">يرجى إدخال سعر ذروة صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="peakStart" class="form-label"> توقيت بداية الذروة</label>
            <input type="time" id="peakStart" class="form-control" name="peakStart" required
              [(ngModel)]="pricing.peakStart" #peakStart="ngModel">
            <div class="invalid-feedback">يرجى إدخال بداية الذروة</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="col-md-4 form-section mb-3">
            <label for="peakEnd" class="form-label"> توقيت نهاية الذروة</label>
            <input type="time" id="peakEnd" class="form-control" name="peakEnd" required [(ngModel)]="pricing.peakEnd"
              #peakEnd="ngModel">
            <div class="invalid-feedback">يرجى إدخال نهاية الذروة</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-save">
            @if (isLoading) {
            <span class="spinner-border spinner-border-sm me-2"></span>
            } حفظ التغييرات
          </button>
        </div>
      </form>

      <!------------------stats-card------------------->
      <div class="row g-4 mt-2">
        <h3 class="text-center">الاسعار الحالية</h3>
        <!-- CARD 1 -->
        @for (card of statsCards; track card.title) {
        <div class="col-lg-3 col-md-6">
          <div class="stats-card">
            <div class="text-center">
              <div class="icon-box"><i class="{{ card.icon }}"></i></div>
              <div class="title">{{ card.title }}</div>
              <div class="value"> {{ card.value }}</div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
